.sidebar {
  grid-column: 1;
  grid-row: 2/3;
  background-color: var(--clr-dark);
  /* height: calc(100vh - 50px); */
}

nav>ul{  
  padding: .5rem;
  list-style-type: none;
}

nav>ul>li>a  
{  
    text-decoration: none;  
    padding: 14px 30px 14px 30px;  
    color: var(--clr-font);  
    display: block;  
    border-bottom: 1px solid var(--clr-font);  
}  

.active {
  color: var(--clr-light);
}